@import "tailwindcss";

@theme {
  --color-gray-50: #ffffff;
  --color-gray-100: #f6f6f6;
  --color-gray-400: #000000; /* Shuttle Gray/400 er hex din */
  --color-gray-950: #000000; /* Shuttle Gray/950 er hex din */

  --color-lime-400: #cbfc01;
  --color-blue-800: #000000; /* Persian Blue/800 er hex din */
}
